body {
  padding: 10px 50px 50px;
  font: 18px "Garamond", serif;
}

a {
  color: #019875;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

  a:hover {
    color: black;
  }

a.button, input[type=submit] {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 1em;
  border: 2px solid;
  border-color: #D8B493 #fff #fff #D8B493;
  border-radius: 20px;
  cursor: pointer;
}

form a.button, input[type=submit] {
  margin-left: 140px;
  transition: 0.4s;
}

input[type=submit] {
  border: 0;
}

  a.button:hover, input[type=submit]:hover {
    background-color: #01b189;
  }

p {
  margin: 10px 2px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h1 {
  color: #fff;
  padding-left: 1em;
  background-image: linear-gradient(to right, #D8B493, #fff 90%);
  border: 2px solid;
  border-color: #fff;
  border-radius: 0 0 0 20px;
  margin-bottom: 0px;
  font-size: 3em;
}

h2 {
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
}

th {
  border-bottom: 2px solid #D8B493;
  text-align: left;
  padding: 5px 20px 5px 10px;
}

tr {
  min-height: 50px;
}

tr:nth-child(2n) {
  background: #E7E7E7;
}

td {
  padding: 5px 20px 5px 10px;
}

label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
}

input {
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  border-color: #E7E7E7;
  transition: 0.4s;
}

input[type=text] {
  margin-left: 7px;
  width: 300px;
}

.error {
  color: rgb(236, 15, 15);
}

/* Querying container styles*/

.querying-container {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.querying-container input {
  width: 65%;
  padding: 7px;
  color: #838383;
  border: 2px solid;
  border-color: #D8B493 #fff #fff #D8B493;
  border-radius: 20px 0 0 20px;
  font-size: 1em;
}

.querying-container select {
  width: 18%;
  padding: 6px;
  background-color: #fff;
  color: #838383;
  border: 2px solid;
  border-color: #D8B493 #D8B493 #fff #fff;
  border-radius: 0 20px 20px 0;
  font-size: 1em;
}
